.card {
  min-width: 300px;
}

.card > header {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
}
