.tabs {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 25px;
  height: 40px;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.tab {
  min-width: fit-content;
  min-height: 50px;
  font-size: 18px;
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--color-tabs);
  color: var(--color-primary);
}

.tab > div {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.tab > div > * {
  width: fit-content;
  margin: 0px;
}

.selectedTab {
  background-color: var(--color-highlight);
  color: var(--color-primary);
  border-color: (--color-highlight);
  border-bottom-width: 0px;
}

.tabs > button:hover {
  border-bottom-width: 0px;
}
