.projectList {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 95%;
  padding: 0;
  gap: 15px;
}

.projectItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* display: grid;
  grid-template: 1fr / 1fr 1fr 2fr; */

  background-color: rgba(0, 0, 0, 0.15);
  border-color: var(--color-highlight);
  border-width: 1px;
  border-style: solid;

  padding: 10px;

  width: 100%;

  transition: all 0.2s ease-in-out;
}

.projectItem > * {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: center;
}

.projectItem:hover {
  background-color: var(--color-item);
  box-shadow: inset -2px -2px 10px black;
}

/* .title {
}

.type {
} */

.tags {
  justify-self: flex-end;
}

.existingProject {
  display: grid;
  grid-template: 1fr / 1fr 1fr 2fr;
}

.newProjectForm {
  grid-column-start: 0;
  grid-column-end: 3;
  column-span: all;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.newProjectForm > label {
  align-self: center;
  margin-right: 5px;
}

.newProjectButton > input {
  background-color: red;
}

.newProjectButton {
  align-self: flex-end;
  padding: 15px;
}
