.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.background {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  margin: 0;
  z-index: -1;
}
