.editor {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
  height: 50px;
  margin: 20px;
  color: var(--color-highlight);
}

.editor > button {
  min-width: 100px;
}

.confirmCard {
  min-width: fit-content;
}

.confirmCard > header {
  text-align: center;
  padding: 10px;
}

.confirmCard > main {
  text-align: center;
}
.confirmCard > main > section {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
