.card {
  width: 1200px;
  max-width: 100%;
}

.card > header > h3 {
  text-align: center;
}

.card > main > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  padding-bottom: 5px;
  gap: 10px;
}

.card > main > form > div > textarea {
  min-height: 400px;
  align-self: center;
  resize: none;
  overflow: scroll;
  padding: 10px;
  flex-grow: 4;
}

.links > div {
  gap: 10px;
}

.card > main > form > div {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.buttons {
  flex-direction: row-reverse;
}
