.blog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.editorButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.dateCreated {
  text-indent: 2rem;
  color: var(--color-tabs);
}

.entryList {
  list-style: none;

  padding: 0px;
}

.entry {
  margin: 10px;
}

.entry > div {
  display: flex;
  flex-direction: column;
}
.entry > div > h2 {
  text-align: center;
}

.entry > div > p {
  text-indent: 2rem;
}

.entry > div > h3 {
  text-indent: 2rem;
}

/* video player container*/
.entry > div > div {
  aspect-ratio: 16/9;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  border-style: solid;
  overflow: hidden;
  border-radius: var(--border-radius);

  min-width: 500px;
  max-width: 80%;

  width: 800px;
}

.entryButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.entry > div > div > * {
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 16/9;
}

.entry > div > img {
  max-width: 80%;
  height: 600px;
  align-self: center;
}

.entryDivider {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  width: 90%;
  border-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
}
