.routing {
  border-radius: var(--border-radius);
  border-width: 0.5px;
  border-style: solid;
  min-height: 500px;
}

.routingList {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 0px;
  list-style: none;
  margin-top: 0px;
}

.routingList > * {
  height: 50px;
  border-style: solid;
  width: 100%;
  /* background-color: var(--color-secondary); */
  border-width: 0px 0px 0.5px 0px;
  font-size: 18px;
}

.item {
  padding-left: 15px;
  margin: 0px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}
