.imageContainer {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  width: min-content;
  height: 250px;
  overflow: hidden;
}

.image {
  width: 250px;
}

.introduction {
  max-width: 60%;
  line-height: 2rem;
  align-self: center;
  text-align: center;
}

.linkList {
  list-style: none;
  background-color: var(--color-highlight);
  box-shadow: inset 0 0 15px rgba(0, 0, 0);
  padding: 15px;
  margin: 0px;

  display: grid;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
}

.linkList > li > a > img {
  max-width: 48px;
}
.linkList > li > a:hover {
  cursor: pointer;
}
