.imageContainer {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  width: min-content;
  height: 250px;
  overflow: hidden;
}

.image {
  width: 250px;
}

.introduction {
  max-width: 50%;
  line-height: 2rem;
  align-self: center;
  text-align: center;
}

.linkList {
  list-style: none;
  background-color: var(--color-highlight);
  padding: 0px;

  margin: 0px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 15px 15px;
}

.linkList > li > a > img {
  max-width: 64px;
}
