.routing {
  border-radius: var(--border-radius);
  border-width: 0.5px;
  border-style: solid;
  min-height: 500px;
}

.routingList {
  padding: 0px;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  justify-content: flex-start;
  gap: 0px;
  list-style: none;
  margin-top: 0px;
}

.routingList > * {
  height: 50px;
  /* border-style: solid; */
  width: 100%;
  /* background-color: var(--color-secondary); */
  /* border-width: 0px 0px 0.5px 0px; */
  font-size: 18px;
}

.routingList > li {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.overview {
  text-align: center;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  padding: 10px;
}

.overview:hover {
  cursor: pointer;
}

.overview > * {
  margin: 0px;
  font-weight: 800;
  font-size: 20px;
}

.selectedOverview {
  color: var(--color-primary);
  background-color: var(--color-highlight);
  box-shadow: inset 2px 2px 10px black;
}

.routingButtons {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.routingButtons > button {
  min-width: 30px;
  min-height: 30px;
}
