.item {
  height: fit-content;
  padding: 0px;
}

.section {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-width: 0px 0px 0.5px 0px;

  border-style: solid;
  cursor: pointer;
}

.section > p {
  margin: 0px;
  width: 100%;
  padding: 5px 0px 5px 15px;
}

.section > div > button,
.contentButtons > button {
  min-width: 35px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section > div {
  margin-right: 5px;
  display: flex;
  gap: 10px;
}

.contentList {
  list-style: disc;
  padding: 0px;
}

/*Content Navigation */
.contentList > li {
  margin: 0px;
  padding: 0px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  cursor: pointer;
}
/* .contentList > li > button {
  aspect-ratio: 1/1;
  min-width: 35px;
  margin: 0px;
  margin-right: 5px;
} */

.contentButtons {
  display: flex;
  margin-right: 5px;
  align-items: center;
  gap: 10px;
}

/*Content Name */
.contentList > li > p {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5px 0px 5px 35px;
}

.selectedContent,
.selectedSection {
  background-color: var(--color-highlight);
  color: var(--color-primary);
  box-shadow: inset 0px 0px 10px black;
}

.selectedContent > p {
  margin: auto;
}

.contentList > li > p {
  margin: 0px;
}
