.input {
  background-color: rgba(0, 0, 0, 0.25);
  font-family: "Exo 2";

  border-style: groove;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-highlight);

  font-size: 15px;

  padding: 0px 10px;

  min-width: 100px;
  height: var(--height-input);
  color: var(--color-text);
}

.input:focus {
  border-style: solid;
  outline-style: none;
}

.input:active {
  border-style: solid;
  border-width: 2px;
}

.stretch {
  flex-grow: 1;
}
