.textarea {
  font-family: "Exo 2";
  background-color: rgba(0, 0, 0, 0.25);

  border-style: groove;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-highlight);

  font-size: 15px;

  padding: 0px 10px;

  color: var(--color-text);
}
